.logo{
    float: left;
    width: 50%;
    text-align: start;
    font-family: 'Dancing Script', cursive;
    line-height: 90px;
    vertical-align: auto;
}
.s{
    float: right;
    width: 50%;
    text-align: end;
    line-height: 90px;
    vertical-align: auto;
    font-family: 'Ramaraja', serif;
}
.nav{
    height: 100px;
    border-bottom: 1px solid black;
   
}
.IMG{
    padding: 0.25rem;
    object-fit: cover;
    height: 300px;
    width: 270px;
}
.gallery{
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer {
    padding: 30px;
    margin-top: 30px;
    border-top: 1px solid black;
    text-align: center;
}
a:hover {
    background-color: rgb(248, 185, 234);
  }
